<% provide(:title, 'Homepage')%>

<!DOCTYPE html>
<html>

<p>Find me in app/views/pages/Homepage.html.erb</p>
<h1>This is the Homepage</h1>

<h2>I wanna make this a pretty adfsdfdscolor</h2>

<%= link_to "This is some text", '/pages/Page5', id: "mytest" %>



	</html>